html {box-sizing: border-box}
*, *:before, *:after {box-sizing: inherit}

html {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
  width: 800px;
  border: solid 1px black;
  margin-left:10px;
  border-radius: 5px;
}


.App h1 {
  margin-top: 0;
  background-color: lightgoldenrodyellow;
  padding-bottom: 20px;
  border-bottom: solid 1px black;
  padding-top: 15px;
  font-weight: lighter;
}

.formdiv {
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  border: solid 1px black;
}



.App i {
  color: lightslategray;
  margin-top: 4px;
  margin-right: 20px;
  margin-left: 8px;
  
}

.App input {
  padding-bottom: 5px;
  border: none; 
  outline: none;
}


.App select {
  padding: 0;
  height: 25px;
  width: 100%;
  border: none; 
  outline: none;
}

.App textarea {
  resize: none;
  border: none;
  padding-top: 5px;
  outline: none;
}

#textbox {
  height: 85px;
  border-radius: 5px;
}

#submit {
  border-top: solid 1px black;
  display: flex;
  justify-content: flex-start;
  background-color: lightblue;
}

#submit button {
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}



